type Maybe something
    = Nothing
    | Just something


view : Maybe Fruit -> Html msg
view favoriteFruit =
    case maybeFruit of
        Nothing -> 
            Html.text "You don't have any favorite fruit"

        Just fruit ->
            Html.text ("You like " ++ toString fruit)